<div class="sidebar">

  <!-- Navigation -->
  <div class="sidebar-menu">

    <p class="menu-title">
      MAIN MENU
    </p>

    <!-- Dashboard -->
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-item"
    >
      <i class="bi bi-grid-1x2-fill"></i>
      <span>Dashboard</span>
    </a>

    <!-- Applications -->
    <a
      routerLink="/applications"
      routerLinkActive="active"
      class="menu-item"
    >
      <i class="bi bi-briefcase-fill"></i>
      <span>Applications</span>
    </a>

    <!-- Add Application -->
    <a
      routerLink="/applications/add"
      routerLinkActive="active"
      class="menu-item"
    >
      <i class="bi bi-plus-circle-fill"></i>
      <span>Add Application</span>
    </a>


    <p class="menu-title mt-4">
      ACCOUNT
    </p>

    <!-- Profile -->
<a
  routerLink="/profile"
  routerLinkActive="active"
  class="menu-item"
>
  <i class="bi bi-person-fill"></i>
  <span>Profile</span>
</a>

    <!-- Settings -->
    <a
      routerLink="/settings"
      routerLinkActive="active"
      class="menu-item"
    >
      <i class="bi bi-gear-fill"></i>
      <span>Settings</span>
    </a>

  </div>


  <!-- Logout -->
  <div class="sidebar-bottom">

    <button
      class="menu-item logout-item"
      (click)="$event.preventDefault(); logout()"
    >
      <i class="bi bi-box-arrow-left"></i>
      <span>Logout</span>
    </button>

  </div>

</div>